    <h2> Employee List</h2>
    <table class="table table-dark table-hover" style="vertical-align: middle;">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email Id</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody style="height: 50px;">
            <tr *ngFor="let employee of employees">
                <td scope="row">{{ employee.firstName }}</td>
                <td scope="row">{{ employee.lastName }}</td>
                <td scope="row">{{ employee.emailId }}</td>
                <td>
                    <button (click) = "updateEmployee(employee.id)" class="btn btn-warning">Update</button>
                    <button (click) = "deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 15px;">Delete</button>
                    <button (click) = "employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 15px;">View</button>
                </td>
            </tr>
        </tbody>

    </table>
